body {
    background-color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    }    
.styled-input {
    width: 300px;
    padding: 10px;
    border: 10px solid #056374;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    outline: none;
    }
.styled-button {
    padding: 10px;
    border: 10px solid #056374;
    border-radius: 5px;
    background-color: #056374;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    }
.styled-button:hover {
    background-color: #044d59;
    border-color: #044d59;
    }
.nav-link {
    color: white; /* Define a cor da fonte dos links */
    font-size: 25px;
    margin: 0 20px;
        
}
.nav-link:hover{
    color: black
}

